.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(.25rem);

}

h1{
  text-align: center;
}
.track-list{
  border: 2px solid black;
  overflow: wrap;
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1.4rem;
}
ul {
  text-align: center;
  padding: 0;
}

li{
  list-style: none;
  padding: 0px;
  overflow: wrap;
}
.album-year{
  font-size: 20px;
}
.modal-header {
  padding: 10px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 1rem;
  display: grid;
  background:radial-gradient(circle, rgba(206, 209, 38, 0.738) 3%, transparent 90%) rgba(19, 117, 137, .8);
}

.modal-exit{
  display: inline-block;
  width: 1em;
  background-color: white;
  -webkit-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  display: flex;
  justify-content: right;

}

.Xbutton{
  display: flex;
  justify-content: right;
  flex-direction: column-reverse;

}

.modal-body {
  padding: 10px;
  /* background-color: white; */
  background:radial-gradient(circle, rgba(199, 189, 196, 0.855) 5%, transparent 90%) rgb(46, 12, 5);
}

.modal-image{
  height: 100px;
}

button {
  font-family: 'Londrina Solid', cursive;
  background-color: white;
  -webkit-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
}