.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(.15rem);
  /* box-shadow: -24.7rem 0rem 1.1rem .35rem rgba(247, 5, 5, 0.127) inset; */
}

ul {
  text-align: center;
  padding: 0;
}

li{
  list-style: none;
  padding: 0px;
}
.album-year{
  font-size: 20px;
}
.modal-header, .modal-footer {
  padding: 10px;
  background-color: white;
  text-align: center;
  color: black;
}

.modal-body {
  padding: 10px;
  background-color: white;
}

.modal-image{
  height: 100px;
}

button {
  font-family: 'Londrina Solid', cursive;
  background-color: white;
  -webkit-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -1px rgba(0,0,0,0.75);
}