@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@300&display=swap');
/* font-family: 'Londrina Outline', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Solid', cursive; */

.navlink {

  margin: 10px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(227, 188, 159);
  transition: 0.5s ease-in-out;
}

.b-side-music{
  color: black;
}

.nav-bar-component {
  width: 100%;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-bottom: 3px solid white
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.title-logo {
  display: flex;
  align-items: center;
}

.nav {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
  display: flex;
  color: black;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 0;
}



.cassette-logo {
  height: 120px;
  transition: transform .4s;
  padding: 10px;
}

.cassette-logo:hover {
  transform: scale(1.1);
}

.home {
  text-align: left;
}

@media only screen and (max-width: 600px) {

    h1 {
      font-size: 30px;
    }
    
    .nav { 
      font-size: 20px;
      justify-content: left;

    }

    .navlink {
      margin: 5px;
      margin-top: 0;
    }

    .cassette-logo {
      height: 50px;
      padding: 10px;
    }

}

.active {
  color: grey
}