@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:  rgb(199, 71, 136);
  transition: 0.5s ease-in-out;
}

.nav-bar-component {
  width: 100%;
  background-color: aquamarine;
  border-bottom: 3px solid black;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
  margin: 0;
  padding: 20px;
  text-align: left;
}
.title-logo {
  display: flex;
  align-items: center;
}
.nav {
  font-family: 'Bangers', cursive;
  font-size: 30px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.navlink {
  margin: 10px;
  margin-top: 0;
}

.cassette-logo {
  height: 130px;
}

.home {
  text-align: left;
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 30px;
  }
  .nav { 
    font-size: 20px;
    text-align: right;
    margin-right: 5px;
  }

    .cassette-logo {
      height: 50px;
    }

}